.example-card {
    max-width: auto;
    margin-top: 6px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

#title{
    justify-content: center;
}

.full-width-input{
  max-width: auto;
}

#titles{
  text-align: center;
}

.example-full-width {
  width: 100%;
}